@import "./normalize.css";

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Light.woff2') format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Bold.woff2') format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yantramanav';
    src: url('../fonts/Yantramanav-Bold.woff2') format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --clr-dark: #000000;
    --clr-dark-alt: #131619;
    --clr-light: #FFFFFF;
    --clr-grey-dark: #404040;
    --clr-grey-light: #C4C4C4;

    --brd-rd: 30px;
    --brd: 1px solid #FFF;

    --fnt-fml-base: 'Heebo', sans-serif;
    --fnt-fml-accent: 'Yantramanav', sans-serif;

    --inp-height: 54px;

    --header-height: 90px;

    --cont-width: 1300px;
    --cont-padding-x: 15px;

    --trans-duration: 0.2s;
}

body {
    font-family: var(--fnt-fml-base);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    color: var(--clr-grey-light);
    background-color: var(--clr-dark);
}

a, button, input, textarea, svg * {
    transition-duration: var(--trans-duration);
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.container {
    max-width: calc(var(--cont-width) + var(--cont-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--cont-padding-x);
}

h1, h2, h3, h4 h5, h6 {
    font-weight: 700;
    text-transform: uppercase;
}

a {
    color: var(--clr-light);
}
a:hover {
    color: var(--clr-grey-light);
}

.button {
    display: inline-flex;
    align-items: center;
    padding-inline: 26px;
    font-size: 12px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: var(--clr-light);
    height: 38px;
    border: none;
    border-radius: var(--brd-rd);
}

.button:hover {
    background-color: var(--clr-grey-light);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: var(--header-height);
    column-gap: 20px;
    padding-inline: 32px;
    background-color: var(--clr-dark-alt);
}

.header-logo {
    flex-shrink: 0;
}

.header-menu-list {
    display: flex;
    column-gap: 50px;
    flex-wrap: wrap;
}

.header-menu-link {
    /*увеличить область для клика*/
    display: inline-flex;
    align-items: center;
    height: var(--header-height);

    column-gap: 7px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.header-menu-link.is-current::after {
    content: "";
    width: 5px;
    aspect-ratio: 1;
    background-color: currentColor;
    border-radius: 50%;
}

.header-actions {
    display: flex;
    column-gap: 40px;
}

.header-burger-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;
    width: 40px;
    aspect-ratio: 1;
    padding-left: 8px;
    color: var(--clr-light);
    background-color: transparent;
    border: var(--brd);
    border-radius: 50%;
}

.header-burger-button:hover {
    color: var(--clr-grey-light);
    border-color: currentColor;
}

.header-burger-button-line {
    width: 6px;
    height: 1px;
    background-color: currentColor;
    box-shadow: 16px 0 0 currentColor;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 36px 70px;
    min-height: calc(100vh - var(--header-height));
    color: var(--clr-light);
    background-color: var(--clr-dark-alt);
}

.banner-body {
    text-transform: uppercase;
}

.banner-info {
    display: flex;
    align-items: end;
    font-size: clamp(16px, 1.56vw, 30px);
    line-height: 1.27;
    font-weight: 700;
}

.banner-info::before {
    content: '';
    width: clamp(60px, 10.10vw, 194px);
    aspect-ratio: 1;
    background: url('../icons/Bold-arrow-down-right.svg') center/contain no-repeat;
    margin-right: 30px;
}

.banner-title {
    font-size: min(18.75vw, 360px);
    line-height: 1;
}

.banner-pagination-list {
    display: flex;
    justify-content: center;
}

.banner-pagination-item {
    display: flex;
}

.banner-pagination-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    background-color: transparent;
    border: none;
}

.banner-pagination-button::after {
    content: '';
    width: 10px;
    aspect-ratio: 1;
    border: var(--brd);
    border-radius: 50%;
    transition-duration: var(--trans-duration);
}

.banner-pagination-button.is-current::after {
    background-color: var(--clr-light);
}

.banner-pagination-button:not(.is-current):hover::after {
    border-color: var(--clr-grey-light);
}

@media screen and (max-width: 1024px) {
    .header {
        flex-wrap: wrap;
        row-gap: 10px;
        padding-top: 20px;
    }

    .header,
    .banner {
        padding-inline: 15px;
    }

    .header-menu {
        order: 1;
        flex-basis: 100%;
    }

    .header-menu-link {
        height: 50px;
    }

    .banner {
        row-gap: 10px;
    }
}

@media screen and (max-width: 767px) {
    .button {
        padding-inline: 18px;
    }
    .header {
        padding-top: 10px;
    }

    .header-menu-list {
        column-gap: 22px;
    }

    .header-menu-link {
        height: 32px;
    }

    .header-actions {
        column-gap: 15px;
    }

    .banner-info {
        margin-bottom: 5px;
    }

    .banner-info:before {
        margin-right: 10px;
    }
}


@media screen and (max-width: 472px) {

}