@import "./normalize.css";

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Light.woff2') format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Bold.woff2') format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yantramanav';
    src: url('../fonts/Yantramanav-Bold.woff2') format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --clr-dark: #000000;
    --clr-light: #FFFFFF;
    --clr-grey-dark: #404040;
    --clr-grey-light: #C4C4C4;

    --brd-rd: 30px;
    --brd: 1px solid #FFF;

    --fnt-fml-base: 'Heebo', sans-serif;
    --fnt-fml-accent: 'Yantramanav', sans-serif;

    --inp-height: 54px;

    --cont-width: 1300px;
    --cont-padding-x: 15px;

    --trans-duration: 0.2s;
}

body {
    font-family:  var(--fnt-fml-base);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    color: var(--clr-grey-light);
    background-color: var(--clr-dark);
}

.container {
    max-width: calc(var(--cont-width) + var(--cont-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--cont-padding-x);
}

h1, h2, h3, h4 h5, h6 {
    font-weight: 700;
    text-transform: uppercase;
}

